[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
# DISPLAY required for ssh-askpass to work
Environment=DISPLAY=:0
Environment=/usr/bin/lxqt-openssh-askpass
ExecStart=/usr/bin/firejail /usr/bin/ssh-agent -d -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
