[Desktop Entry]
Categories=Development;IDE;
Exec=intellij-idea-14-ultimate %u
GenericName=Intelligent Java IDE
Icon=intellij-idea-14-ultimate
Name=IntelliJ IDEA 14 Ultimate Edition
NoDisplay=false
StartupNotify=true
StartupWMClass=jetbrains-idea
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
